<div class="pin">
  <h1>Pin #<%= @pin.id %> </h1>
  <p><%= link_to @pin.cid, "https://gateway.ipfs.io/ipfs/#{@pin.cid}", target: :_blank %></p>
  <% if @pin.name.present? %>
    <p><%= @pin.name %></p>
  <% end %>
  <p>Date: <%= @pin.created_at %> - Status: <%= @pin.status %></p>
  <%= link_to 'Edit', edit_pin_path(@pin) %> - <%= link_to 'Remove', pin_path(@pin), method: :delete %>
</div>
