<!DOCTYPE html>
<html>
  <head>
    <title>PinningApi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>
      <%= link_to 'Pins on Rails', root_path %>
    </h1>
    <%= yield %>
  </body>
</html>
